body {
background: white;
margin: 0;
padding: 0;
border: 0;
font: inherit;
font-size: 100%;
vertical-align: baseline;
}



/*nav css*/
.header--fixed {
position: fixed;
z-index: 10;
right: 0;
left: 0;
top: 0;
}

.container {
max-width: 51em;
margin: 0 auto;
padding: 0 1.5em;
}

.nav-container {
background: black;
font-weight: 900;
text-transform: uppercase;
font-size: 16px;
letter-spacing: 1px;
font-family: "Electrolize",sans-serif;
text-align: center;
} 

.nav-container a {
color: #BBBEBE;
display: inline-block;
padding: 1em;
text-decoration: none;
}

.nav-container a:hover {
  color: white;
}

.hide-from-print {
	display: none
}

.animated {
	-webkit-animation-duration: .5s;
	-moz-animation-duration: .5s;
	-o-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both
}
@-webkit-keyframes slideDown {
	0% {
	-webkit-transform: translateY(-4em)
}
100% {
	-webkit-transform: translateY(0)
}
}@-moz-keyframes slideDown {
	0% {
	-moz-transform: translateY(-4em)
}
100% {
	-moz-transform: translateY(0)
}
}@-o-keyframes slideDown {
	0% {
	-o-transform: translateY(-4em)
}
100% {
	-o-transform: translateY(0)
}
}@keyframes slideDown {
	0% {
	transform: translateY(-4em)
}
100% {
	transform: translateY(0)
}
}.animated.slideDown {
	-webkit-animation-name: slideDown;
	-moz-animation-name: slideDown;
	-o-animation-name: slideDown;
	animation-name: slideDown
}
@-webkit-keyframes slideUp {
	0% {
	-webkit-transform: translateY(0)
}
100% {
	-webkit-transform: translateY(-4em)
}
}@-moz-keyframes slideUp {
	0% {
	-moz-transform: translateY(0)
}
100% {
	-moz-transform: translateY(-4em)
}
}@-o-keyframes slideUp {
	0% {
	-o-transform: translateY(0)
}
100% {
	-o-transform: translateY(-4em)
}
}@keyframes slideUp {
	0% {
	transform: translateY(0)
}
100% {
	transform: translateY(-4em)
}
}.animated.slideUp {
	-webkit-animation-name: slideUp;
	-moz-animation-name: slideUp;
	-o-animation-name: slideUp;
	animation-name: slideUp
}


/*content header css*/
.feature {
background-color: #4ecdc4;
padding: 2em 0 2em 0;
}

.feature-title {
text-align: center;
}

.feature-main-title {
font-size: 3.5em;
color: #fff;
text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
line-height: 1;
display: block;
}

.feature-subtitle {
line-height: 1.25;
font-size: 1.125em;
color: #292f36;
margin: 0;
}


/*content header css*/
.footer {
text-align: center;
overflow: hidden;
margin-top: 70px;
padding-left: 0px;
padding-right: 0px;
}

.footer a:hover {
color: white;
}


.l {
 background-color: black;
 margin: 0;
 padding: 10px;
 color: white;
}

.l a{
  color: #CCC6C7;
  text-decoration: none;
}


/*content css*/
#post {
  background-color: white;
}

.c9 {
  padding-top: 20px;
  text-align: center;
}