body {
background: rgb(255, 253, 253);
margin: 0;
padding: 0;
border: 0;
font: inherit;
font-size: 100%;
vertical-align: baseline;
}



/*nav css*/
.header--fixed {
position: fixed;
z-index: 10;
right: 0;
left: 0;
top: 0;
border-bottom: 1px solid rgba(0,0,0,0.1);
box-shadow: 0 5px 10px rgba(2, 0, 1, 0.2);
background-color: white;
}

.container {
max-width: 51em;
margin: 0 auto;
padding: 1.5em;
}

.nav-container {
font-weight: 900;
text-transform: uppercase;
font-size: 14px;
letter-spacing: 0px;
font-family: "Electrolize",sans-serif;
text-align: right;
} 

.nav-container .icon {
text-align: left;
float: left;
padding: 28px 10px 10px 250px;
}

.nav a {
color: #64686D;
display: inline-block;
padding: 1em 0.2em 1em;
width: 80px;
text-align: center;
text-decoration: none;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-webkit-transition: all .25s;
-moz-transition: all .25s;
-o-transition: all .25s;
transition: all .25s;
}

.nav a:hover {
color: white;
background: #ffcc00;
}

.nav span {
padding-left: 10px;
}

.hide-from-print {
	display: none
}

.animated {
	-webkit-animation-duration: .5s;
	-moz-animation-duration: .5s;
	-o-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both
}
@-webkit-keyframes slideDown {
	0% {
	-webkit-transform: translateY(-4em)
}
100% {
	-webkit-transform: translateY(0)
}
}@-moz-keyframes slideDown {
	0% {
	-moz-transform: translateY(-4em)
}
100% {
	-moz-transform: translateY(0)
}
}@-o-keyframes slideDown {
	0% {
	-o-transform: translateY(-4em)
}
100% {
	-o-transform: translateY(0)
}
}@keyframes slideDown {
	0% {
	transform: translateY(-4em)
}
100% {
	transform: translateY(0)
}
}.animated.slideDown {
	-webkit-animation-name: slideDown;
	-moz-animation-name: slideDown;
	-o-animation-name: slideDown;
	animation-name: slideDown
}
@-webkit-keyframes slideUp {
	0% {
	-webkit-transform: translateY(0)
}
100% {
	-webkit-transform: translateY(-4em)
}
}@-moz-keyframes slideUp {
	0% {
	-moz-transform: translateY(0)
}
100% {
	-moz-transform: translateY(-4em)
}
}@-o-keyframes slideUp {
	0% {
	-o-transform: translateY(0)
}
100% {
	-o-transform: translateY(-4em)
}
}@keyframes slideUp {
	0% {
	transform: translateY(0)
}
100% {
	transform: translateY(-4em)
}
}.animated.slideUp {
	-webkit-animation-name: slideUp;
	-moz-animation-name: slideUp;
	-o-animation-name: slideUp;
	animation-name: slideUp
}


/*content header css*/
.feature {
background: url(/images/background.png);
padding: 2em 0 2em 0;
}

.feature-title {
text-align: center;
}

.feature-main-title {
font-size: 3.5em;
color: #fff;
text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
line-height: 1;
display: block;
font-weight: normal;
font-family: 'Chelsea Market', Georgia, serif;
padding-top: 30px;
}

.feature-subtitle {
line-height: 1.25;
font-size: 1.125em;
color: black;
margin: 0;
text-shadow: 1px 1px 1px rgba(235, 211, 211, 0.2);
}


/*banner css*/


#banner {
z-index: 100;
left: 0;
right: 50%;
height: 50px;
margin-top: 150px;
margin-left: 250px;
max-width: 20em;
text-align: left;
background: #ffcc00;
border: 1px solid #f0b500;
-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
-o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
-moz-border-radius: 0px 2px 2px 0px;
-webkit-border-radius: 0px 2px 2px 0px;
-o-border-radius: 0px 2px 2px 0px;
-ms-border-radius: 0px 2px 2px 0px;
-khtml-border-radius: 0px 2px 2px 0px;
border-radius: 0px 2px 2px 0px;
padding: 0 10px 0 35px;
}


#banner-post {
  overflow: auto;
z-index: 100;
left: 0;
right: 50%;
height: 60px;
margin-top: 150px;
text-align: left;
background: #ffcc00;
border: 1px solid #f0b500;
-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
-o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
-moz-border-radius: 0px 2px 2px 0px;
-webkit-border-radius: 0px 2px 2px 0px;
-o-border-radius: 0px 2px 2px 0px;
-ms-border-radius: 0px 2px 2px 0px;
-khtml-border-radius: 0px 2px 2px 0px;
border-radius: 0px 2px 2px 0px;
padding: 0 10px 0 35px;
}

#banner-post h1 {
  font-size: 17.5px;
  font-weight: 700;
  color: #26272E;
}

#banner-title {
  font-size: 17.5px;
  font-weight: 700;
  color: white;
  float: left;
  width: 20%
}

#banner-sub-title {
  background: black;
  font-size: 17.5px;
  font-weight: 700;
  color: white;
  float: left;
  height: 60px;
  width: 300px;
}

#banner-sub-title p {
  text-align: center;
}

/*content list css*/

.artical-list {
  padding-top: 50px;
}

.row {
  overflow: auto;
  padding-top: 10px;
}

.col  {
width: 33.333%;
box-sizing: border-box;
float: left;
padding: 15px;
}

.col h2 {
  margin: 10px 0 15px 0;
  font-size: 17.5px;
  font-weight: 700;
}

.col a {
  text-decoration: none;
  color: black;
}

.title-desc {
color: #7f7f7f;
font-size: 14px;
font-weight: 200;
line-height: 26px;
}

#post {
  background: rgb(255, 253, 253);
  margin-top: 30px;
  color: #5A5A5A;
  line-height: 1.8em;
}

#post h2 {
  margin: 10px 0 15px 0;
  font-size: 22px;
  font-weight: 800;
  color: black;
}

#post a {
  color: #D6C4BB;
  text-decoration: none;
}

#post a:hover {
text-decoration: underline;
color: #ffcc00;
}



/*footer css*/

.clear{
    clear:both;
}

.footer {
text-align: center;
overflow: hidden;
margin-top: 0px;
padding-left: 0px;
padding-right: 0px;
}


footer p {
font-family: 'Open Sans', Myriad, Calibri, sans-serif;
font-weight: bold;
font-size: .8em;
color: #8b786f;
}

footer a {
text-decoration: none;
}

footer a, a:hover {
color: #417090;
}

.l {
 background-color: black;
 margin: 0;
 padding: 10px;
 color: white;
}

.l a{
  color: #CCC6C7;
  text-decoration: none;
}