
pre {
  background: url(/images/pattern.png);
  margin-top: 30px;
  color: white;
  line-height: 1.2em;
  max-width: 55em;
  margin-left: 25px;
  padding: 20px;
  border-radius: 3px 3px 3px 3px;
  white-space: pre-wrap;
}

pre code {
   display: block; padding: 0.5em;
}


table, td, th {
  border: none;
}

blockquote {
   color:#666666;
   margin:0;
   padding-left: 1em;
   border-left: 0.5em #EEE solid;
}

hr {
   height: 0px;
   border-bottom: none;
   border-top-width: thin;
   border-top-style: dotted;
   border-top-color: #999999;
}

 hr { 
      visibility: hidden;
      page-break-before: always;
   }

   pre, blockquote { 
      padding-right: 1em; 
      page-break-inside: avoid; 
   }

pre .operator,
   pre .paren {
     color: rgb(211, 209, 209);
   }

   pre .literal {
     color: rgb(211, 209, 209);
   }

   pre .number {
     color: rgb(211, 209, 209);
   }

   pre .comment {
     color: #87ceeb;
   }

   pre .keyword {
     color: rgb(41, 255, 0);
   }

   pre .identifier {
     color: rgb(211, 209, 209);
   }

   pre .string {
     color: #87ceeb;
   }
