---
layout: default
title: 文章列表
summary: .....
row: 4
---


	<div class="artical-list container">  
		
		{% for item in (0..2) %}
		{% assign rownode = item | times:3 %}	
		{% assign rownode = rownode | plus:1 %}	
			<div class="row">
			{% for post in site.posts limit:3 offset:rownode %}
				<div class="col">	 
					<h2><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
					<div class="title-desc" itemprop="description">{{ post.summary }}</div>
				</div>
			{% endfor %}
			</div>
		{% endfor %}
		
		<div class="row">
		{% for post in site.posts limit:2 offset:11 %}
			<div class="col">	 
				<h2><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
				<div class="title-desc" itemprop="description">{{ post.summary }}</div>
			</div>
		{% endfor %}
	</div>

