---
layout: default
---

<article id="post">
	<a href="#" class="icon-fullscreen r" title="点击全屏显示"></a>
	<div class="c9">
		分类：
			{%for cg in page.categories%}
			<a href="/category.html#{{cg}}">{{cg}}</a>
			{%if forloop.index < forloop.length %}
			,
			{%endif%}
			{%endfor%}
		&emsp;&emsp;&emsp;&emsp;
		标签：{{ page.tags | join: ', ' }}
		&emsp;&emsp;&emsp;&emsp;
		<time date="{{ page.date }}">{{ page.date|date: "%Y-%m-%d"}}</time>
	</div>

	{{ content }}

	<br />
	<div class="page fix">
		{%if page.previous%}
		<span class="prev"><a href="{{page.previous.url}}">←《{{page.previous.title}}》</a></span>
		{%endif%}
		{%if page.next%}
		<span class="next"><a href="{{page.next.url}}">《{{page.next.title}}》→</a></span>
		{%endif%}
	</div>
	<hr />
</article>




<!-- 多说评论框开始 -->
<script type="text/javascript">
	var duoshuoQuery = {short_name:"datablog"};
		(function() {
			var ds = document.createElement('script');
			ds.type = 'text/javascript';ds.async = true;
			ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
			ds.charset = 'UTF-8';
			(document.getElementsByTagName('head')[0] 
			 || document.getElementsByTagName('body')[0]).appendChild(ds);
		})();
</script>
:after
<!-- 多说评论框结束 -->

<script src="/js/jquery-min.js"></script>
<script src="/js/Fullscreen.js"></script>
<script src="/js/r-highlight.js"></script>
<script type="text/javascript">
$(function() {
	var global = window;
	// ============== 目录提取 ===============
	(function() {
		// 设置无目录时，不显示
		if (!parseInt('{{page.list}}', 10)) {
			return;
		}

		var dom = $('<fieldset id="catalogue"><legend>目录</legend></fieldset>'),
			count = 0;
		
		$('#post').find('h2,h3,h4,h5').each(function() {
			var name = 'catalogue_' + count++;
			dom.append('<div class="txt_' + this.tagName + '">' +
				'<a href="#' + name + '">' +
					this.innerHTML +
				'</a></div>');
			this.id = name;
		});

		dom.appendTo('body');
	})();
});
</script>

