<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="main.css" />
		<link rel="stylesheet" href="/css/pygments_native.css" />
<!--		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Handlee"> -->
		<link rel="stylesheet" href="r-highlight.css" />

		<!-- mathjax api -->
		<script type="text/javascript"
		   src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
		</script>
	</head>
	<body>


      <header id="header" class="header header--fixed" role="banner">
	<div class="nav-container">
	  <div class="icon container">
	  <span><a href="https://github.com/wumin722"><img src="/images/favicon.ico" alt="github logo"></a></span>
	  </div>
	  <nav class="nav container">
		<span><a href="/index.html">Home</a></span>
		<span><a href="/archive.html">Category</a></span>
		<span><a href="/about.html">About</a></span>
		<span><a href="/links.html">Links</a></span>
	  </nav>
	</div>
      </header>

	
	<div id="banner-post" class="container">
		<div id="banner-title"> <p> {{ page.title }} </p> </div>
		<div id="banner-sub-title"> <p>日期: {{ page.date }} </p> </div>
	</div>

	<div class="articles">
	<article id="post" class="container">
	{{ content }}

	<br />
	<div class="page fix">
		{%if page.previous%}
		<span class="prev"><a href="{{page.previous.url}}">←《{{page.previous.title}}》</a></span>
		{%endif%}
		{%if page.next%}
		<span class="next"><a href="{{page.next.url}}">《{{page.next.title}}》→</a></span>
		{%endif%}
	</div>
	<hr />
</article>



<script src="/js/jquery-min.js"></script>
<script src="/js/r-highlight.js"></script>